div#container {
    width: 940px;
    height: 200px;
    background-color: #ff0000;
    border-radius: 5px;
}
div.resimler {
    width: 300px;
    height: 200px;
    margin-left: 20px;
    float: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
div.resimler:first-child {
    margin-left: 0px;
}
div.resimler img {
    width: 300px;
    height: 140px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
p.p1 {
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: italic;
    font-family: Verdana;
    color: gray;
}
p.p2 {
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: italic;
    font-family: Verdana;
    color: gray;
}
p.p3 {
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: italic;
    font-family:Verdana;
    color: gray;
}