body {
    background: url(/School/image/page-bg.jpg);
    background-size: 100%;
    margin: 0px;
    background-attachment: fixed;
}
#menu {
    width: 360px;
    height: 100%;
    position: fixed;
    background-color: #a43f49;
    margin-left: 300px;
}
#profil {
    background: url(/School/image/author-image.jpg);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 70px;
    left: 120px;
    background-position: center;
    position: relative;
}
#baslik {
    font-size: 25px;
}
#yazilar {
    font-size: 15px;
    color: white;
    text-align: center;
    position: relative;
    width: 200px;
    left: 80px;
    top: 100px;
}
#mlist {
    position: relative;
    top: 150px;
}
.links {
    color: white;
    text-decoration: none;
    display: block;
    height: 60px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid white;
    transition: all 1s ease;
    line-height: 60px;
}
#first-link {
    color: #a43f49;
    background-color: white;
}
.links:hover {
    background-color: white;
    color: #a43f49;
}
.content{
    position: relative;
    width: 1000px;
    height: 500px;
    opacity: 1;
    margin-top: 10px;
    background-color: white;
    border-radius: 2px;
    left: 800px;
}
.baslik {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.yazi {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#kisa {
    width: 50px;
    height: 3px;
    background-color: red;
}
#c1 {
    height: 250px;
    background-color: transparent;
    color: white;
    opacity: 1;
}
#c2 {
    height: 350px;
    background-color: transparent;
}
#c2-yazi {
    text-align: center;
    font-size: 18px;
    color: white;
}
#c2-baslik {
    text-align: center;
    font-weight: bold;
    color: white;
}
.icerik {
    float: right;
    width: 400px;
    height: 300px;
    margin-right: 50px;
    margin-top: 25px;
}
.resim {
    width: 500px;
    height: 350px;
    background: url(/School/image/left-image.jpg);
    float: left;
    border-radius: 5px;
}
.buton {
    text-decoration: none;
    color: #a43f49;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
}
.buton-div {
    background-color: white;
    width: 110px;
    height: 45px;
}