* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}
.header {
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    color: white;
    padding: 40px 0;
    text-align: center;
}

.header-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 18px;
}
.navbar {
    background-color: #2c3e50;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #4ca1af;
    border-radius: 5px;
}
.main {
    background: linear-gradient(to top, #4ca1af, #d0d3d8);
    padding-top: 40px;
    padding-bottom: 40px;
}
.section {
    width: 80%;
    margin: 40px auto;
    background: linear-gradient(to left, #ecf0f1, #bdc3c7);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 10px 12px 25px black;
}
.section h2 {
    margin-bottom: 15px;
    color: #2c3e50;
}
#iletisim {
    margin-bottom: 0px;
}
#anasayfa {
    margin-top: 0px;
}
.section p {
    margin-bottom: 10px;
    line-height: 1.6;
}
.list {
    margin-left: 20px;
}

.list li {
    margin-bottom: 8px;
}
.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    width: 33%;
}

.card h3 {
    margin-bottom: 10px;
    color: #2c3e50;
}

.card p {
    font-size: 14px;
}
.footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
}