* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    margin-top: 150px;
    background: url(image/bg-01.jpg);
}
.baslik1 {
    width: 100%;
    height: 149px;
    top: 0;
    right: 0;
    background-color: white;
    border-top: 1px solid black;
    position: fixed;
    z-index: 10;
}
.seviye {
    width: 120px;
    height: 50px;
    border: 1px solid #98999a;
    float: left;
    margin-top: 95px;
    margin-left: 20px;
    color: #98999a;
    z-index: 11;
}
.seviye p {
    text-align: center;
    margin-top: 15px;
}
nav {
    width: 600px;
    height: 50px;
    margin-left: 1450px;
    margin-top: 100px;
}
nav a {
    width: 100px;
    height: 40px;
    display: inline-block;
    background-color: gray;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    color: #98999a;
    z-index: 12;
}
nav a:hover {
    width: 98px;
    height: 38px;
    border: 1px solid #98999a;
}
.bolum1 {
    width: 100%;
    height: 400px;
    display: block;
}
.yazilar {
    width: 310px;
    height: 360px;
    padding: 20px;
    text-align: center;
    font: 25px/25px Cambria;
    background-color: white;
    opacity: 0.6;
    margin-left:350px;
    margin-right: 10px;
    margin-top: 10px;
    color: #5f6061;
    border-radius: 50px;
    float: left;
}
.yazilar p {
    margin-top: 90px;
}
.gorsel {
    width: 850px;
    height: 400px;
    margin-top: 10px;
    background: url(image/blue-contem-girl.jpg) no-repeat;
    float: left;
}
.bolum2 {
    margin-top: 10px;
    color: #5f6061;
    font-size: 18px;
    font-family: Cambria;
}
.bolum2 .baslik {
    color: #669999;
    font-family: Cambria;
}
.bolum2 {
    width: 850px;
    height: 600px;
    color: #5f6061;
    font-size: 18px;
    font-size: Cambria;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 710px;
}
.bolum2 .baslik {
    color: #669999;
    text-align: left;
}
.m {
    width: 810px;
    height: 260px;
    padding: 20px;
    background-color: white;

}
.gm1 {
    width: 420px;
    height: 290px;
    background-color: white;
    margin-top: 10px;
    float: left;
    margin-right: 10px;
}
.gm2 {
    width: 420px;
    height: 290px;
    margin-top: 10px;
    background-color: white;
    float: left;
}
.gm1 .resim1 {
    width: 100%;
    height: 40%;
    background-image: url(image/image-1.jpg);
}
.gm2 .resim2 {
    width: 100%;
    height: 40%;
    background-image: url(image/image-2.jpg);
}